body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color:#777;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color: #4aaaa5;
    border-bottom: 3px solid #ccc;
    padding: 25px 25px 25px 0px;
    font-size: 1.75em;
}
p {
  line-height: 2;
}
.clearfix {
  clear: both;
  overflow: hidden;
}
.container {
  width: 100%;
  border: none;
}
.nav-container {
  width: 960px;
  margin: 0 auto;
  overflow: auto;
}
.logo {
  background-color: #4aaaa5;
  width: 260px;
  float: left;
}
.logo h1 {
  color: white;
  margin: 0;
  padding: 25px;
  text-align: center;

}
.navigation {
  margin-left: 260px;
  margin-top: 20px;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

.navigation li {
    float: right;
    text-transform: uppercase;
}

.navigation li a {
    display: block;
    color: #777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #4aaaa5;
    color: #fff;
}
.nav-border-l {
  border-left: 1px solid #ccc;
}
.body-bg {
  background-image: url('../images/light-grey-terrazzo.png');
  background-repeat: repeat;
  min-height: 588px;
  border-top: 3px solid #ccc;
  overflow: auto;
}
.body-container img {
  float: left;
  margin-right: 25px;
}
.body-container {
  background-color: #fff;
  width: 910px;
  margin: 0 auto 50px;
  padding: 10px 25px;
  position: relative;
  top: 25px;
  min-height: 500px;
  overflow: hidden;
}
.skill {
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}
.skill-desc {
  text-align: center;
  position: relative;
  top: 135px;
  background-color: #4aaaa5;
  padding: 20px 0px;
}
.skill-desc a:link,
.skill-desc a:visited {
  color: #fff;
  text-decoration: none;
}
.skill-desc a:hover,
.skill-desc a:active {
  text-decoration: underline;
}
#skill-1 {
  background-image: url('../images/image1.jpg');
  background-repeat: no-repeat;
}
#skill-2 {
  background-image: url('../images/image2.jpg');
  background-repeat: no-repeat;
}
#skill-3 {
  background-image: url('../images/image3.jpg');
  background-repeat: no-repeat;
}
#skill-4 {
  background-image: url('../images/image4.jpg');
  background-repeat: no-repeat;
}
#skill-5 {
  background-image: url('../images/image5.jpg');
  background-repeat: no-repeat;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #25D0C8;
}
.footer-bg{
  background-color: #666;
  color: #ccc;
  border-top: 5px solid #4aaaa5;
}
.footer-container {
  width: 960px;
  margin: auto;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 640px) {
  .logo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .logo h1 {
    text-align: center;
  }
  .nav-container {
    display: flex;
    flex-direction: column;

  }
  .navigation {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  .profilePic {
    width: 500px;
    height: auto;
  }
  .body-container img {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .body-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .nav-container {
    width: 748px;
  }
  .profilePic {
    width: 250px;
    height: auto;
  }
  .body-bg {
    overflow: visible;
    height: 100%;
  }
  .body-container {
    width: 100%;
    margin:auto;
  }
  .skill {
    width: 270px;
    height: 190px;
  }
  .footer-container {
    width: 748px;
  }
}
@media screen and (min-width: 769px) and (max-width: 980px){
  .skill {
    width: 270px;
    height: 190px;
  }
  .profilePic {
    width: 200px;
    height: auto;
  }
  .body-container {
    width: 600px;
    margin-right: 315px;
  }

}
@media screen and (min-width: 981px) {
  .profilePic {
    width: 200px;
    height: auto;
    }
}
